/* color palette 

#d62828-maximum red
#003049-prussian blue //background
f77f00-orange
fcbf49-maximum yellow;
eae2b7-lemon meringue; //accent

*/



body{
    margin:0 auto;
    max-width:90%;
    padding:0;
    font-family:'Josefin Sans', sans-serif;
    background-color:#003049;
    color:#eae2b7;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    
}

#game{
    display:flex;
}


.genre-column{
    
/* to make the cards stack as a column do display:flex; */
    display:flex;
    flex-direction:column;
    text-align:center;


    
}


.card{
    width:200px;
    height:120px;
    border-radius:20px;
    background-color:#f77f00;
    border:solid #fcbf49 5px;
    text-align:center;
    justify-content: center;
    padding: 5px;
    margin:10px;
    font-size:100px;
}


.correct-answer {
    background-color:rgb(7, 24, 7);
}

.wrong-answer {
    background-color:#d62828;
}

.true-button{
    background-color:rgb(198, 230, 166)
}

.false-button{
    background-color:#d62828;
}

button {
    margin:5px;
}